@font-face {
	font-family: "NunitoSans-Regular";
	src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "NunitoSans-Bold";
	src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "NunitoSans-Black";
	src: url("../fonts/NunitoSans-Black.ttf") format("truetype");
}