@import "../../sass/variables.scss";

.footer{
    background-color: $color-gray-1;
    padding-top: 80px;
    
    div[class^='col-'], div[class*=' col-']{
        margin-bottom: 40px;
    }

    h2{
        font-family: 'NunitoSans-Bold';
        font-size: 18px;
        color: $color-orange;
        margin-bottom: 20px;
    }

    &__apps{
        padding: 0;
        margin: 0;
        list-style: none;

        a{
            width: 100%;
            max-width: 260px;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            background-color: $color-white;
            border-radius: 6px;
            margin-bottom: 10px;
            box-shadow: 0 0 4px $color-black-10;
            transform: scale(1);
            transition: .15s ease;

            span{
                font-family: 'NunitoSans-Bold';
                font-size: 15px;
                color: $color-orange;
            }

            &:hover{
                transform: scale(1.03);
            }
        }
    }

    &__message{
        display: block;
        font-family: 'NunitoSans-Regular';
        font-size: 14px;
        color: $color-gray-4;
        margin-bottom: 25px;
    }

    &__social{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        
        li{
            margin-right: 35px;
            opacity: .8;

            &:hover{
                opacity: 1;
            }
        }
    }

    &__links{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin-bottom: 6px;
            a{
                text-decoration: none;
                font-family: 'NunitoSans-Regular';
                font-size: 14px;
                color: $color-gray-4;
                opacity: .8;

                &:hover{
                    opacity: 1;
                }
            }
            
        }
    }

    &__language{

        position: relative;

        button{
            position: relative;
            border: none;
            border-radius: 8px;
            background-color: $color-white;
            width: 100%;
            font-family: 'NunitoSans-Bold';
            color: $color-gray-4;
            font-size: 15px;
            text-align: left;
            padding: 25px;

            span{
                &:first-child{
                    font-family: 'NunitoSans-Regular';
                    font-size: 11px;
                    display: block;
                }
                &:nth-child(2){
                    font-size: 11px;
                    margin-right: 2px;
                    font-family: 'NunitoSans-Black';
                }
            }

            svg{
                position: absolute;
                bottom: 25px;
                right: 25px;
                transform: rotate(180deg);
                transition: .3s ease;
            }

            &:hover{
                background-color: $color-gray-3;

                svg{
                    bottom: 35px;
                }
            }
        }
    }

    &__language-list{

        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 6px $color-black-25;

        li{
            position: relative;
            border: none;
            background-color: $color-white;
            width: 100%;
            font-family: 'NunitoSans-Regular';
            color: $color-gray-4;
            font-size: 15px;
            text-align: left;
            padding: 25px;
            cursor: pointer;
    
            span{
                &:first-child{
                    font-size: 11px;
                    margin-right: 2px;
                }
            }

            &:hover{
                font-family: 'NunitoSans-Black';
                background-color: $color-gray-3;
            }
        }
    }

    &__separator{
        border: 1px solid $color-gray-3;
        margin: 40px 0;
    }
}


@include media-breakpoint-down(lg) {
    .footer{
        &__apps{
            padding: 0;
            margin: 0;
            list-style: none;
    
            a{
                width: 100%;
                max-width: 100%;
            }
        }

        &__social{
            li{
                width: 100%;
                text-align: center;
                margin-right: 0px;
            }
        }
    }
}